/*
File Name: 		moderado.css
Description:    Design for Moderado webpage
Style Edit:     StadiTech - info@staditech.si
*/

nav .navigation .logo img {
    max-width: 400px;
    width: auto;
    height: 40px;
}

